[submodule "wp-kb-articles/submodules/parsedown"]
	path = wp-kb-articles/submodules/parsedown
	url = https://github.com/erusev/parsedown
[submodule "wp-kb-articles/submodules/wp-php-rv"]
	path = wp-kb-articles/submodules/wp-php-rv
	url = https://github.com/websharks/wp-php-rv
[submodule "wp-kb-articles/submodules/sharkicons"]
	path = wp-kb-articles/submodules/sharkicons
	url = https://github.com/websharks/sharkicons
[submodule "wp-kb-articles-pro"]
	path = wp-kb-articles-pro
	url = https://github.com/websharks/wp-kb-articles-pro
