@mixin clearfix
{
	&::after
	{
		content : '';
		display : table;
		clear   : both;
	}
}
@mixin laptops-or-smaller
{
	@media (max-width : 1199px) {
		@content;
	}
}
@mixin tablets-or-smaller
{
	@media (max-width : 767px) {
		@content;
	}
}
@mixin phones-or-smaller
{
	@media (max-width : 479px) {
		@content;
	}
}
.wp_kb_articles-footer
{
	@include clearfix;
	position : relative;
	clear    : both;

	& *,
	& *:focus,
	& *:hover
	{
		outline : 0;
	}
	& > .-meta
	{
		@include clearfix;

		margin-top : 1em;
		border-top : 1px solid #E5E5E5;

		& > .-popularity-tags-feedback
		{
			@include clearfix;
			margin : 1em 0 1em 0;

			& > .-popularity
			{
				display : inline-block;
				margin  : 0 1em 0 0;

				&::before
				{
					content                : '\f004';
					font-family            : FontAwesome;
					-webkit-font-smoothing : antialiased;

					float                  : left;
					margin                 : 0 .25em 0 0;

					color                  : #E0373B;
				}
			}
			& > .-tags
			{
				display : inline-block;
				margin  : 0 1em 0 0;

				&::before
				{
					content                : '\f02c';
					font-family            : FontAwesome;
					-webkit-font-smoothing : antialiased;

					float                  : left;
					margin                 : 0 .25em 0 0;
				}
				&:not(:last-child)
				{
					float  : right;
					margin : 0 0 0 1em;

					@include laptops-or-smaller
					{
						float  : none;
						margin : 0 1em 0 0;
					}
				}
			}
			& > .-feedback
			{
				display : inline-block;
				margin  : 0 1em 0 0;

				@include laptops-or-smaller
				{
					display : block;
					margin  : 1em 0 0 0;
				}
				&::before
				{
					content                : '\f113';
					font-family            : FontAwesome;
					-webkit-font-smoothing : antialiased;

					float                  : left;
					margin                 : 0 .25em 0 0;
				}
				& > .-edit
				{
					margin  : 0 0 0 1em;
					display : inline-block;
				}
				& > .-edit::before
				{
					font-family            : FontAwesome;
					-webkit-font-smoothing : antialiased;

					float                  : left;
					margin                 : 0 .25em 0 0;
				}
				& > .-edit.-github-edit::before
				{
					content : '\f092';
				}
				& > .-edit.-wp-edit::before
				{
					content : '\f19a';
				}
			}
		}
		& > .-author-popularity
		{
			@include clearfix;
			font-size : 90%;

			& > .-author
			{
				@include clearfix;

				width         : 49%;
				float         : left;
				display       : block;
				box-sizing    : border-box;

				padding       : 1em 2em 1em 2em;
				border        : 1px solid #E5E5E5;
				border-radius : .35em;

				background    : #FFFFFF;
				box-shadow    : 0 4px 4px -4px rgba(0, 0, 0, 0.5);
				transition    : all 0.2s ease-in-out;

				@include laptops-or-smaller
				{
					float  : none;
					width  : 100%;
					margin : 0 0 1em 0;
				}
				@include phones-or-smaller
				{
					font-size : 80%;
				}
				& > .-avatar
				{
					float  : left;
					margin : 0 2em 0 0;

					& > a > img
					{
						border        : 0 !important;
						box-shadow    : none !important;
						border-radius : 50% !important;

						width         : 64px !important;
						height        : 64px !important;

						@include laptops-or-smaller
						{
							width  : 32px !important;
							height : 32px !important;
						}
					}
				}
				& > .-byline
				{
					& > .-by
					{
						display : inline-block;
						margin  : .8em .15em 0 0;

						@include laptops-or-smaller
						{
							margin : 0;
						}
					}
					& > a.-author,
					& > a.-author:hover,
					& > a.-author:focus
					{
						display : inline-block;
					}
					& > .-dates
					{
						display: block;

						& > .-pub-date
						{
							opacity    : 0.5;
							font-size  : 90%;
							font-style : italic;
							display    : inline-block;

							&::before
							{
								content                : '\f133';
								font-family            : FontAwesome;
								-webkit-font-smoothing : antialiased;

								float                  : left;
								margin                 : 0 .5em 0 0;

								font-style             : normal;
							}
						}
						& > .-mod-date
						{
							opacity    : 0.5;
							font-size  : 90%;
							font-style : italic;
							display    : inline-block;
							margin     : 0 0 0 1em;

							& > span::before
							{
								content                : '\f040';
								font-family            : FontAwesome;
								-webkit-font-smoothing : antialiased;

								float                  : left;
								margin                 : 0 .5em 0 0;

								font-style             : normal;
							}
						}
					}
				}
			}
			& > .-popularity
			{
				@include clearfix;

				width           : 49.8%;
				float           : right;
				display         : block;
				box-sizing      : border-box;

				padding         : 1em 2em 1em 2em;
				border          : 1px solid #E5E5E5;
				border-radius   : .35em;

				text-decoration : none;

				color           : #000000;
				background      : #FFFFFF;
				box-shadow      : 0 4px 4px -4px rgba(0, 0, 0, 0.5);
				transition      : all 0.2s ease-in-out;

				@include laptops-or-smaller
				{
					float : none;
					width : 100%;
				}
				@include phones-or-smaller
				{
					font-size : 80%;
				}
				&:hover,
				&:focus
				{
					background   : #FEE8E3;
					border-color : #F38176;
				}
				&::before
				{
					content                : '\f004';
					font-family            : FontAwesome;
					-webkit-font-smoothing : antialiased;

					float                  : left;
					margin                 : 0 .5em 0 0;

					width                  : 64px;
					height                 : 64px;

					font-size              : 64px;
					line-height            : 64px;

					color                  : #E0373B;

					@include laptops-or-smaller
					{
						width       : 32px;
						height      : 32px;

						font-size   : 32px;
						line-height : 32px;
					}
				}
				& > .-vote,
				& > .-thank-you
				{
					display : block;
					margin  : .8em 0 0 0;

					@include laptops-or-smaller
					{
						margin : 0;
					}
					& > strong
					{
						display   : block;
						font-size : 110%;
					}
				}
				& > .-thank-you
				{
					display : none;
				}
				&.-active,
				&.-active:hover,
				&.-active:focus
				{
					color        : #FFFFFF;
					background   : #E0373B;
					border-color : #E0373B;

					&::before
					{
						color : #FFFFFF;
					}
				}
				&.-active > .-vote
				{
					display : none;
				}
				&.-active > .-thank-you
				{
					display : block;
				}
			}
		}
	}
}
